# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/

